@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Teko&family=Caveat&family=Russo+One&family=Slabo+27px&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Passion One', cursive;
}

:root {
    --bg-color: #112d3f;
    --second-bg-color: #7aeaee;
    --text-color: #F9F7F3;
    --second-text-color: #29e6ff;
    --accent-color: #ee5136;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
}

.logo {
    display: flex;
    align-items: center;
    user-select: none;
}

.logo img {
    width: 40px;
    border-radius: 50%;
    user-select: none;
    border: var(--text-color) 2px solid;
}

.logo p {
    font-size: 2.5rem;
    margin-left: 0.5rem;
    font-family: 'Teko', sans-serif;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
}

.menu a:hover {
    color: var(--second-text-color);
}

.menu .active {
    color: var(--second-text-color);
}

section {
    min-height: 100vh;
    padding: 6.6rem 7% 2rem;
}

.home {
    padding: 0 7%;
    display: flex;
    align-items: center;
}

.home-img {
    width: 22rem;
    margin: 8rem 0 0;
    border: var(--second-text-color) 5px solid;
    border-radius: 35%;
    user-select: none;
    --web
}

.home-content {
    max-width: 60rem;
    margin: auto;
    padding: 3rem;
}

.home-content h1,
.home-content h1 span {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
}

.home-content .text-animation {
    position: relative;
}

.home-content .text-animation h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: .7px var(--second-text-color);
    margin-bottom: 2rem;
}

.home-content .text-animation p {
    font-family: 'Slabo 27px', serif;
    text-align: justify;
}

.home-content .btn-box{
    display: inline-block;
}