/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* STYLE */
*{
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.container{
    background: linear-gradient(225deg, #2EC4B6, #FF9F1C);
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 25px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #fff;
    color: #000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 20px;
}

.search button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 25px;
}


.weather h1{
    font-size: 80px;
    color: #fff;
    font-family: 'Lilita One', cursive;
}

.weather h2{
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.details{
    margin-top: 40px;
    display: grid;
    grid-template-areas: 'bag1 bag2';
    place-items: center;
}

.details .bag1{
    grid-area: bag1;
}

.details .bag2{
    grid-area: bag2;
}

.details .col{
    display: grid;
    grid-template-areas: 
    'pic data'
    'pic tess';
    place-items: center flex-start;
}

.col{
    color: #fff;
    font-weight: 700;
}

.col img{
    margin-right: 10px;
    width: 40px;
    grid-area: pic;
    left: 0;
    top: 0;
}

.col .humidity,
.col .wind{
    grid-area: data;
    font-size: 25px;
}

.col .text{
    grid-area: tess;
}

.weather{
    display: none;
}

.error{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: 'Lilita One', cursive;
    font-size: 24px;
    display: none;

}