@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Teko&family=Caveat&family=Russo+One&family=Slabo+27px&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Passion One', cursive;

}

:root {
    --bg-color: #112d3f;
    --second-bg-color: #0f4c5c;
    --text-color: #F9F7F3;
    --second-text-color: #29e6ff;
    --accent-color: #ee5136;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    z-index: 100;
    /* transition: .3s; */
}

/* header.sticky {
    background: var(--bg-color);
} */

.logo {
    display: flex;
    align-items: center;
    user-select: none;
}

.logo img {
    width: 40px;
    border-radius: 50%;
    user-select: none;
    border: var(--text-color) 2px solid;
}

.logo p {
    font-size: 2.5rem;
    margin-left: 0.5rem;
    font-family: 'Teko', sans-serif;
}

#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
}

.menu a:hover {
    color: var(--second-text-color);
}

.menu .active {
    color: var(--second-text-color);
}

section {
    min-height: 100vh;
    padding: 6.6rem 7% 2rem;
}






/* home section */
.home {
    position: relative;
    padding: 0 7%;
    display: grid;
    grid-template-areas:
        "pics text"
        "pics btn";
    grid-template-columns: .8fr 2fr;
    gap: 0 2rem;
    background: var(--bg-color);

    display: none;
}

.home-img {
    grid-area: pics;
    width: 19rem;
    margin: 0 0;
    border: var(--second-text-color) 5px solid;
    border-radius: 35%;
    user-select: none;
    transition: 3s;
    align-self: center;
}

.home-img:hover {
    background: var(--text-color);
}

.home-content {
    align-self: flex-end;
    grid-area: text;
    max-width: 60rem;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.home-content h1,
.home-content h1 span {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: var(--text-color);
}

.home-content .text-animation {
    position: relative;
}

.home-content .text-animation h3 {
    font-family: 'Russo One', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    color: transparent;
    -webkit-text-stroke: .7px var(--second-text-color);
    margin-bottom: 2rem;
}

.home-content .text-animation p {
    font-family: 'Slabo 27px', serif;
    text-align: justify;
    font-size: 1.2rem;
}



/* button style */
.btn-box {
    position: relative;
    grid-area: btn;
    margin: 0 0rem;
    width: 10rem;
    height: 3rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--second-text-color);
    color: var(--bg-color);
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    border: var(--second-text-color) .2rem solid;
    border-radius: .8rem;
    z-index: 1;
    overflow: hidden;
}

.home .btn-box .btn {
    margin-left: 3rem;
}


.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover:before {
    width: 100%;
}

.btn-box .btn:hover {
    color: var(--second-text-color);
}


/* span style */
span {
    color: var(--second-text-color);
}




/* about section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: .1rem;
    background: #0f4c5c;
    display: none;
}

.heading {
    font-size: 3rem;
    letter-spacing: 3px;
    margin: -2rem 0 0;
    text-align: center;
}

.about-img {
    position: relative;
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.about-img img {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: var(--second-text-color) .3rem solid;
}

.about-img .cSpin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-top: .3rem var(--second-bg-color) solid;
    border-right: .3rem var(--second-text-color) solid;
    border-left: .3rem var(--second-text-color) solid;
    border-bottom: .3rem var(--second-bg-color) solid;
}

.about-img .cSpin:hover {
    transform: rotate(360);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 1.4rem;
    font-family: 'Slabo 27px', serif;
}


.about-content p {
    margin: 1rem 0 0rem;
    font-family: 'Slabo 27px', serif;
    text-align: justify;
}

/* btns style */
.btn-box.btns {
    width: 8rem;
    height: 2rem;
    margin-top: .8rem;
}

.btn-box.btns .btn {
    font-size: .8rem;
}






/* contact section */
.contact {
    min-height: auto;
    padding-top: calc((calc(3rem + 40px)) + 5rem);
    align-items: center;
}



.contact form {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: .8rem;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .7rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    font-family: 'Slabo 27px', serif;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border: .2rem solid var(--second-text-color);
    border-radius: .2rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 1.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}



/* RESPONSIVE */

/* medium device/tablet */
@media (max-width : 991px) {
    .logo {
        display: none;
    }

    .menu {
        margin: 0 auto;
    }

    .home-img {
        width: 15rem;
    }

    .home {
        grid-template-areas:
            "pics text"
            "pics btn";
    }

    .home-content h1,
    .home-content h1 span {
        font-size: 2.2rem;
    }

    .home-content .text-animation h3 {
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--second-text-color);
    }

    .home-content .text-animation p {
        font-size: 1rem;
    }

    .btn-box {
        width: 7rem;
        height: 1.8rem;
    }

    .btn-box .btn {
        font-size: 1rem;
    }

    .about {
        display: grid;
        grid-template-areas:
            "content pics"
            "content heading"
            "btn btn";
        /* gap: 1.5rem; */
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1.5fr .1fr .5fr;
        display: none;
    }

    .heading {
        text-align: center;
        grid-area: heading;
        font-size: 1.7rem;
        font-weight: 500;
        /* border: #29e6ff 2px solid; */
        border-radius: 20rem;
        align-self: flex-end;
    }

    .about-img {
        grid-area: pics;
        width: 17rem;
        align-self: flex-end;
    }

    .about-content {
        grid-area: content;
        align-self: flex-end;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .about .about-content p {
        font-size: 1.2rem;
    }


    .about .about-content h3 {
        text-align: start;
        font-size: 1.7rem;
    }

    .btn-box.btns {
        align-self: flex-start;
        justify-self: center;
        grid-area: btn;
    }
}

/* small device/lanscape phone */
/* @media (max-width : 767px) {
    body {
        color: red;
    }
} */

/* extrasmall device/potrait phone*/
@media (max-width : 575px) {
    body {
        color: var(--text-color);
    }

    .logo {
        display: flex;
    }

    .menu {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    .logo img {
        width: 25px;
    }

    .logo p {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        font-family: 'Teko', sans-serif;
    }

    .home {
        margin-top: calc(2rem + 25px);
        grid-template-areas:
            "text"
            "btn";
        gap: 2rem;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-rows: 1fr .5fr;
    }

    .home-img {
        display: none;
    }

    .home .btn-box {
        align-self: flex-start;
    }

    .home .btn-box .btn {
        margin-left: 0;
    }

    .home-content {
        align-self: flex-end;
        padding: 0 1rem;
    }

    .home-content h1,
    .home-content h1 span {
        font-size: 13vw;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }


    .home-content .text-animation h3 {
        font-size: 7.5vw;
        font-weight: 600;
        text-align: center;
        color: transparent;
        border: var(--accent-color) 2px solid;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .home-content .text-animation h3:hover {
        color: var(--accent-color);
        -webkit-text-stroke: .7px var(--accent-color);

    }

    .home-content .text-animation p {
        font-size: 1.5rem;
        text-align: left;
    }




    .about {
        grid-template-areas:
            "heading"
            "pics"
            "content"
            "btn";
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr 2fr .3fr;
    }

    .heading {
        grid-area: heading;
        display: none;
    }

    .about-img {
        width: 70vw;
        height: 70vw;
        margin: auto;
    }

    .about .about-content {
        padding: 0;
        padding-top: 1rem;
        align-self: flex-start;
    }

    .about .about-content p {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }


    .about .about-content h3 {
        text-align: center;
        font-size: 1.7rem;
    }

    .btn-box.btns {
        margin: 0;
    }

    .contact{
        padding-top: calc((calc(25px + 2rem)) + 2rem);
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .contact form .input-box {
        margin: 0;
    }

    .contact .heading{
        display: block;
        margin: 0 auto;
    }
}